ordered set css-set is
Common.css
qtip/jquery.qtip.css
jqueryUI/themes/humanity/jquery-ui.custom.css

ordered set js-set is
lib/jshashtable.js
lib/json2.js
lib/setImmediate.js
lib/underscore.js
lib/jquery.js
lib/jqueryUI/jquery-ui.custom.js
lib/amplify.js
lib/date.js
lib/knockout.js
lib/knockout.validation.js
lib/knockout.mapping.js
lib/knockout.address.js
lib/knockout.basemodel.js
lib/koExternalTemplateEngine.js
lib/ko.ExternalTemplatesConfig.js
lib/jquery.cookie.js
lib/jquery.hotkeys.js
lib/jquery.validity.js
lib/qTip/jquery.qtip.min.js
lib/jstree/jquery.jstree.js
javascript/customBindings.js

home is javascript/Home.js
home requires js-set